body{
    
}
.rajesh{
    position: relative;
    width: 150px;
    height: 150px;
    background-color: red;
    top: 200px;
    left: 150px;
    border-radius: 50%;
    animation: rajesh 2s  infinite alternate;

}

@keyframes rajesh {
 0%{
    bottom: 0px;
 }
 25%{
    background-color: blue;
    transform: translateY(150px);
 }
 50%{
    transform: translateX(150px);
    background-color: greenyellow;
 }
 75%{
    transform: translateY(-150px);
    background-color: aqua;
 }
 100%{
    transform: translateX(-150px);
    background-color: black;
 }
}

