body{
    width: 100%;
    height: 100%;
    background:url("C:\Users\rn823\OneDrive\Pictures\Saved Pictures\2024031014525317917_1710062659586.png");

}
img{
    height: 200px;
}
.total{
    position: relative;
    width: 800px;
    height: 600px;
    background:transparent;
    border: 2px solid black;
}
header{
    position: relative;
    width: 800px;
    height: 70px;
    background-color: red;
    display: flex;
    justify-content: space-between;
}
header span{
    color: black;
    font-size: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 25px;
    font-weight: bold;
    margin-top: 10px;
}
header nav{
    position: relative;
    margin-top: 25px;
    margin-right: 70px;

}
nav a{
    margin-left: 15px;
    text-decoration: none;
    color:black;
}
nav a::after{
    content: " ";
    position: relative;
    width: 100%;
    height:2px;
    background-color:black;
    bottom: 5px;
    transform: -50%;
}
nav #rajesh{
    position: relative;
    width: 90px;
    height: 30px;
    background:transparent;
    color:black;
    margin-left: 10px;
    border-radius: 5px;
    border: 2px solid black;
}
.bpd{
    width: 790px;
    height: 150px;
    border: 2px solid black;
    margin-top: 50px;
    margin-left: 5px;
}