body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8e8e8;
}
.touch {
    position: relative;
    width: 40px;
    height: 30px;
    background:transparent;
    cursor: pointer;
    display: block;

}
.touch input {
    display: none;
}
.touch span {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}


.touch span:nth-of-type(1) {
    top: 0px;
    transform-origin: lefy center;
}
.touch:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}
.touch:nth-of-type(3) {
    top: 100%; 
    transform-origin: left center;
    transform: translate(-100%);
}





.touch input:checked ~span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0%;
    left: 5px;
}
.touch input:checked ~span:nth-of-type(2) {
    width: 50%;
    opacity: 0;
}
.touch input:checked ~span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 0%;
    left: 5px;

}
